body {
    height: 100vh;
}

.grid {
    display: grid;
    grid-template-rows: 200px 200px 40px 40px 40px;
    grid-template-columns: 150px 290px 90px 90px;
}

.a {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    border: solid black 5px;
}

.b {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    border-left: solid black 5px;
    border-bottom: solid black 5px;
    border-right: solid black 5px;
}

.c {
    background-color: red;
    grid-column: 2 / 4;
    grid-row: 1 / 3;
    border-top: solid black 5px;
    border-bottom: solid black 5px;
    border-right: solid black 5px;
}

.d {
    background-color: rgb(58, 91, 240);
    grid-column: 1 / 2;
    grid-row: 3 / 5;
    border-left: solid black 5px;
    border-bottom: solid black 5px;
    border-right: solid black 5px;
}

.e {
    grid-column: 2 / 3;
    grid-row: 3 / 5;
    border-bottom: solid black 5px;
    border-right: solid black 5px;
}

.f {
    grid-column: 3 / 4;
    grid-row-end: 3 / 4;
    border-bottom: solid black 5px;
    border-right: solid black 5px;
}

.g {
    background: yellow;
    grid-column: 3 / 4;
    grid-row: 4 / 5; 
    border-bottom: solid black 5px;
    border-right: solid black 5px;
}